<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css">
    <title>Edit Blog</title>
  </head>
  <body>
    <header>
      <%- include("./components/navBar.ejs") %>
    </header>

    <div class="container">
      <h1>Edit Your Blog Post</h1>
      <form class="blog-form" id="blogForm" action="/editblog/<%- blog._id %>" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" value="<%- blog.title %>" id="title" name="title" required />
        </div>
        <div class="form-group">
          <label for="subtitle">Subtitle</label>
          <input type="text" value="<%- blog.subtitle %>" id="subtitle" name="subtitle" required />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" name="description" rows="5" required><%- blog.description %></textarea>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>
        <button type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
