<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogShare - Create And Share Your Informations</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <!-- Navigation Bar -->
    <header><%- include("./components/navBar.ejs") %></header>
    <%- include("./components/error.ejs") %>

    <div style="display: flex; flex-wrap: wrap">
      <% blogs.forEach((blog)=>{ %>
      <div class="card">
        <img src="<%- blog.image %>" alt="Card Image" width="300px" height="400px" />
        <h2 class="title"><%- blog.title %></h2>
        <a href="/blog/<%- blog._id %>"> <button>See More</button></a>
      </div>
      <% }) %>
    </div>
  </body>
</html>
