<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <header><%- include("./components/navBar.ejs") %></header>
    <main>
      <section class="blog">
        <div class="blog-post">
          <img src="/<%- blog.image %>" alt="Blog Image" class="blog-image" />
          <div class="blog-content">
            <h2 class="blog-title"><%- blog.title %></h2>
            <h3 class="blog-subtitle"><%- blog.subtitle %></h3>
            <p class="blog-description"><%- blog.description %></p>
            <p class="author">-<%- blog.author %></p>
            <div class="blog-buttons">
              <a href="/deleteblog/<%- blog._id %>"> <button class="btn btn-primary">Delete</button></a>
              <a href="/editblog/<%- blog._id %>"> <button class="btn btn-secondary">Edit</button></a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
